@import "Utils";

.main-panel__weather-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-panel__city-name{
  color: $dark-blue;
  padding: 0;
  margin: 5px 0;
}

.main-panel__temperature{
  color: $white-text;
  margin: 5px 0;
}